screenia-frontend/node_modules/
screenia-backend/node_modules/
screenia-frontend/package-lock.json
screenia-backend/package-lock.json
screenia-backend/.env
screenia-frontend/.env
screenia-frontend/build/
screenia-backend/logs
.env